<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p> Prject Name : <span data-th-text="${projectName}"></span></p>
        <p> GitHubRepo : <span data-th-text="${githubRepo}"></span></p>
        <a data-th-href="${githubRepo}">Click here to open github.</a>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi libero aut vero. Inventore totam, praesentium perspiciatis blanditiis illum est provident facilis deleniti et soluta fuga. Veritatis recusandae provident inventore perspiciatis ea commodi nisi, accusamus dolores quis doloribus ex excepturi facere pariatur porro in. Explicabo minus suscipit dolore praesentium doloribus nobis!</p>
    </div>

    



    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>    
</body>
</html>